﻿@model Reservalo.ViewModel.IniciarSesionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}

<meta charset="UTF-8">
<body>
    <script src="~/Scripts/App/LogIn/LogIn.js"></script>
    <h1>Login</h1>

    <form id="formulario" runat="server" method="post" name="formularioLogin" action="/Cuenta/Login">
        @if (Model != null && Model.NombreDeUsuario != null)
        {
            <br /><input type="text" class="form-control" placeholder="Nombre de Usuario" name="NombreDeUsuario" value="@Model.NombreDeUsuario" required /><br />
        }
        else
        {
            <br /><input type="text" class="form-control" placeholder="Nombre de Usuario" name="NombreDeUsuario" required /><br />
        }
        <br /><input type="password" placeholder="Contraseña" name="Contrasena" class="form-control" required /><br />


        @Html.ValidationMessage("Error")

        <br /><input type="submit" id="Login" value="Iniciar sesión" class="btn btn-default" /><br />
    </form>

    <br /> <a href="~/Cuenta/ResetPassword">
        <span>¿Olvidaste la contraseña?</span>
    </a><br />

    <br /><span>
        <span>¿No tienes cuenta? <a href="~/Usuario/Create">Registrate aqui!</a></span>
    </span>
</body>