﻿@model Reservalo.Models.ForgotPassword

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Reiniciar contraseña";
}

<body>
    <h2>Restrablecer contraseña:</h2><br />
    <form id="formulario" runat="server" method="post" name="formularioLogin" action="/Cuenta/ResetPassword">

        <br /><input class="form-control text-box single-line" data-val="true" data-val-required="El campo E-Mail es requerido" id="EMail" name="EMail" type="text" value="" placeholder="Email">
        @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })

        @Html.ValidationMessage("NoExite")<br />

        <br /> <input type="submit" class="btn btn-default" value="Enviar"><br />
    </form>

    <span>
        <br /><a href="~/Cuenta/Login">Volver</a>
    </span>
</body>

