﻿@model Reservalo.Models.NuevaContraseña
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Reiniciar tu contraseña:</h2><br />
    <form id="formulario" runat="server" method="post" action="/Cuenta/ResetPasswordConfirmed">

        <input class="form-control text-box single-line" id="Email" name="EMail" type="email" placeholder="Email" required>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("noExite")<br />

        <input class="form-control text-box single-line" id="Contrasena" name="Contrasena" type="password" placeholder="Nueva contraseña" required>
        @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })<br />

        <br /><input class="form-control text-box single-line" id="ConfirmarContrasena" name="ConfirmarContrasena" type="password" placeholder="Confirmar contraseña" required>
        @Html.ValidationMessageFor(model => model.ConfirmarContrasena, "", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("Diferencia")<br />

        <br /><input type="submit" class="btn btn-default" value="Enviar" />

    </form>
</body>