﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reinicio de contraseña</title>
</head>
<body>
    <h2>Ya casi!</h2>

    <p>Para terminar con el reinicio de contraseña verifica tu correo para poder continuar ! </p>
</body>
</html>