﻿@using Microsoft.AspNet.Identity
@{
    var UsuarioCookie = Request.Cookies["Usuario"];
    var UsuarioId = Request.Cookies["UsuarioId"];
}
<script src="~/Scripts/App/Shared/LoginPartial.js"></script>
<link href="~/Content/App/Shared/LoginPartial.css" rel="stylesheet" />

@if (UsuarioCookie != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right" id="DatosUsuario">
            <li id="DatosUsuario" class="nav-item">@Html.ActionLink("Mi Perfil", "Details", "Usuario", new { id = UsuarioId.Value }, new { @class = "dropdown-item" })</li>
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("LogOut", "Cuenta")">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrarse", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}
