﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reinicio de contraseña</title>
</head>
<body>
    <div style="text-align: center ; background-color: #5d98f7 ;font-size: 45px;">
        <b>Reservalo</b>
    </div>

    <div>
        <p>
        <p>
            Hey:
            Hemos recibido un pedido para cambiar tu contraseña, puedes reiniciarlo haciendo click en el link que te proporcionaremos debajo. Si no pediste cambiar tu contraseña simplemente ignora este mail y tu contraseña seguira igual !
        </p>
        <a type="button" href="http://localhost:63644/Cuenta/ResetPasswordConfirmed">Continuar!</a>
        </p>

    </div>

    <span>El equipo de Reservalo!</span>
</body>
</html>