﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenido de parte del equipo de Reservalo</title>
</head>
<body>
    <div style="text-align: center ; background-color: #5d98f7 ;font-size: 45px;">
        <b>Bienvenido!</b>
    </div>

    <div>
        <p>

            Para terminar tu registro necesitamos que valides tu mail con el codigo que se le proporcionamos a continuacion:

        <p style="text-align: center ; background-color: #5d98f7; font-size:30px;" value="valor">valor</p>

        </p>

    </div>
</body>
</html>
