﻿#DatosUsuario > li #Opciones {
    position: absolute;
    list-style-type: none;
    display: none;
    padding: 6px;
    clear: both;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 0;
    min-width: 10rem;
}

#DatosUsuario:hover > li #Opciones {
    display: block;
}
